body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 20px;
    max-width: 400px;
    min-width: 350px;  /* Adjust width */
    min-height: 500px; /* Adjust height */
    border-radius: 15px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-size: 18px;
    margin: 0;
  }
  
  .header input {
    padding: 5px;
    font-size: 14px;
    width: 50%;
  }
  
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%;
  }
  
  .card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card h3 {
    margin: 0 0 10px 0;
    font-size: 14px;
  }
  
  .card label, .card button {
    display: block;
    margin-top: 10px;
    cursor: pointer;
  }
  
  button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }
  
  button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  